<div class="container">
  <section class="">
    <div class="div__heroes">

      <% @heroes["data"]["results"].each do |heroe|%>
          <div class="div__heroes--item">
            <%= link_to heroe_path(heroe["id"]) do %>
            <figure class="figure__heroes">
              <%= image_tag "#{heroe["thumbnail"]["path"]}.#{heroe["thumbnail"]["extension"]}", class: "img__heroes"%>
              <figcaption class="figcaption__heroes hvr-sweep-to-bottom"><%= heroe["name"] %></figcaption>
            </figure>
            <% end %>
          </div>
      <% end %>
    </div>
  </section>
</div>

<ol class="pagination">
  <li class="li__pagination">1 - 24 / <%= @heroes["data"]["total"] %></li>
  <li class="li__pagination"><%= link_to ">>", heroes_path(:page => params[:page].present? ? params[:page].to_i + 1 : 2) %></li>
  <li class="li__pagination"><%= link_to "last", heroes_path(:page => '63') %></li>
</ol>
