<!DOCTYPE html>
<html>
  <head>
    <title>Marvel Heroes</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag :application, "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>

  </head>

  <body>
    <header class="header">
      <div class="div__marvel">
        Marvel Heroes
      </div>
      <nav class="nav">
        <ul class="container__ul">
          <%= link_to heroes_path do %>
            <li class="ul__li"> Characters</li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>

    <footer class="footer__info">
      <div class="author__footer">
          <p>Desenvolvido com muito <i class="ion-heart"></i> por Erick Lino Pedro</p>
      </div>
    </footer>
  </body>
</html>
